* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: Roboto;
}

.app {
    max-width: 820px;
    width: 100%;
    // border: 2px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.conatiner {
    display: block;
    // border: 1px solid red;
}

.header {
    width: 400px;
    background: #323232;
    padding: 30px 20px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;


    &__person-img {
        width: 50px;
        height: 50px;
    }

    &__text-content {
        padding-left: 10px;
    }

    &__person-name {
        font-family: Roboto-Medium;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 4px;
    }

    &__person-networkStatus {
        font-size: 14px;
        font-family: Roboto-Light;
        color: #fff;
        font-weight: 300;
        letter-spacing: .5px;
    }
}

.main {
    width: 400px;
    max-height: 100%;
    height: 600px;
    overflow: auto;
    background-image: url('./bg.jpg');
    padding: 10px;
}
.main::-webkit-scrollbar {
    display: none;
}

.footer {
    width: 100%;
    background: #323232;
    height: 54px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__inp-text {
        padding-left: 20px;
        height: 32px;
        width: 340px;
        background: transparent;
        outline: none;
        border: none;
        // border: 1px solid #fff;
        color: #fff;
        font-family: Roboto-Regular;
        font-size: 14px;
    }

    &__foto-img,
    &__send-img {
        padding-right: 20px;
    }
    
    button{
        background: transparent;
        border: none;
    }
}

.AlexmessageBox,
.EvgeniymessageBox{
    margin-bottom: 10px;
    padding: 10px;
    max-width: 260px;
    width: 100%;
}
.Alex{
    color: #000;
    
    .AlexmessageBox{
        text-align: left;
        background-color: #C4BFFF;
        border-radius: 10px 10px 10px 0px;
    }
    .EvgeniymessageBox{
        margin-left: 118px;
        text-align: right;
        background-color: #D0DCFF;
        border-radius: 10px 10px 0px 10px;
    }
}
.Evgeniy{
    color: #000;
    
    .AlexmessageBox{
        margin-left: 118px;
        text-align: left;
        background-color: #D0DCFF;
        border-radius: 10px 10px 10px 0px;
        
    }
    .EvgeniymessageBox{
        text-align: right;
        background-color: #C4BFFF;
        border-radius: 10px 10px 0px 10px;
        
    }
}
